* {
    font-family: 'Lato', sans-serif;
    font-size: 14px;
}

html, body {
    height: 100%;
    margin: 0;
}

img {
    cursor: pointer;
}

.mobile {
    display: flex;
}

@media screen and (min-width: 775px) {
    .mobile {
        display: none !important;
    }
    
    .desktop{
        display: flex;
        align-items: center;
        width: fit-content;
    }
}

@media screen and (max-width: 774px) {
    .desktop{
        display: none !important;
    }
}
